a {
  color: var(--brand);
  text-decoration: none;

  &:visited {
    color: var(--blue);
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }
}
