// Dark
html {
  --brand-dark: var(--yellow-4);

  --blue-dark: var(--blue-3);
  --cyan-dark: var(--cyan-7);
  --violet-dark: var(--violet-5);
  --purple-dark: var(--violet-9);

  --text-1-dark: var(--gray-2);
  --text-2-dark: var(--gray-6);
  --text-3-dark: var(--gray-7);

  --bg-dark: #363437;
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);

  --gb-code-block: #282a36;
}
