// Dark
html {
  --brand-dark: var(--yellow-4);

  --blue-dark: var(--blue-3);

  --text-1-dark: var(--gray-2);
  --text-2-dark: var(--gray-5);

  --bg-dark: #363437;
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
}
