@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap');
// font-family: 'Lobster', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Rock Salt', cursive;

html {
  --font-sans-serif:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

  /* Set a global default */
  font-family: 'Montserrat', var(--font-sans-serif);
}

.t1 {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  padding-block-end: 16px;
}
